@keyframes cookie-pop {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-cookie-pop {
  -webkit-animation-name: cookie-pop;
  animation-name: cookie-pop;
  animation: cookie-pop 260ms ease-out;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-7 {
  -webkit-animation: fadeInUp 700ms both;
  animation: fadeInUp 700ms both;
}

.animate-fade-in-8 {
  -webkit-animation: fadeInUp 800ms both;
  animation: fadeInUp 800ms both;
}
