@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-figtree), sans-serif;

  --color-accent: #76ce00;
  --color-primary: #1a1a41;

  --color-gray-10: #f2f4f8;
  --color-gray-20: #dde1e6;
  --color-gray-30: #c1c7cd;
  --color-gray-40: #a2a9b0;
  --color-gray-50: #878d96;
  --color-gray-60: #697077;
  --color-gray-70: #4d5358;
  --color-gray-80: #343a3f;
  --color-gray-90: #21272a;
  --color-gray-100: #121619;

  --color-white: #fefefe;
  --color-black: #090909;

  --color-error: #d32e37;
  --color-warning: #f1c21b;
  --color-success: #25a249;

  --spacing-page-padding: 8rem;
}

:root {
  --background: #ffffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-white);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@keyframes cookie-pop {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-cookie-pop {
  animation: cookie-pop 260ms ease-out;
}
